h1 {
  background: #8d603b;
  padding: 0 24px;
  color: red; /* Change my color to yellow */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
